# 主机地址
host: 0.0.0.0

# 端口号
port: 18080

# 语言包路径
languages: "languages"

# BoltDB路径
boltdb_path: "master.db"

# API服务站点
api_website: "http://tg.docauthor.com/"

# 机器人token
token: "TELEGRAM_BOT_TOKEN"

# 资产符号
symbol: "SYS"

# 充值地址
address: "address"

# 最大留言长度
max_message_len: 32

# 历史文本长度
max_history_text_len: 3500

# 红包缩略图URL(64*64)
thumb_url: "https://s1.ax1x.com/2018/08/18/PWzPhT.png"
